:root {
    --_color---blue-400: #17191c;
    --_color---blue-300: #2e3139;
    --_color---blue-100: #4c525e;
    --_color---grey-300: #e4e4e4;
    --_color---grey-200: #f7f7f7;
    --_color---white: #ffffff;
    --burger-bg: #4c525e;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #ffffff;
    color: var(--_color---blue-100);
    font-family: var(--font-inter), Arial, sans-serif;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: -0.68px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a,
button {
    font: inherit;
}

button {
    border: 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 767px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}
